.DS_Store
.ipynb_checkpoints
arxiv/
.Rhistory
.RData
results/
ms/*.aux
ms/*.blg
ms/*.fdb_latexmk
ms/*.fls
ms/*.log
ms/*.out
ms/*.synctex.gz
present/*.aux
present/*.log
present/*.nav
present/*.out
present/*.snm
present/*.toc
present/*.fdb_latexmk
present/*.fls
present/*.vrb
